<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<connectionStrings>
		<add name="SitemaVotacioneDBEntities"
			 connectionString="metadata=res://SistemaVotaciones.Entidades/ModelContext.csdl|res://SistemaVotaciones.Entidades/ModelContext.ssdl|res://SistemaVotaciones.Entidades/ModelContext.msl;
         provider=System.Data.SqlClient;
         provider connection string=&quot;data source=DESKTOP-SJ108A6\SQLEXPRESS;initial catalog=SistemaVotacionesBD;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;"
			 providerName="System.Data.EntityClient" />
	</connectionStrings>
</configuration>